<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="19cbec51-baa3-45ba-bbc4-58d2118b328b" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://www.soapui.org" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="19cbec51-baa3-45ba-bbc4-58d2118b328bfileName">http%3A%2F%2Fwww.soapui.org</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>http://www.soapui.org</con:endpoint>
  </con:endpoints>
</con:interface>
