<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d4137055-17ec-4d60-bcb4-22bbf55da6d1" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d4137055-17ec-4d60-bcb4-22bbf55da6d1fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
